<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Edit Horsecamp</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/horsecamps/<%=horsecamp._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="horsecamp[title]"
                        value="<%=horsecamp.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="horsecamp[location]"
                        value="<%=horsecamp.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Horsecamp Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="horsecamp[price]" value="<%=horsecamp.price %>"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="horsecamp[description]"
                        required><%= horsecamp.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="input-group mb-3">
                    <!-- <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">Button</button> -->
                    <input type="file" class="form-control" id="image" aria-describedby="image upload"
                        aria-label="Upload" name="image" multiple>
                </div>
                <div class="mb-3">
                    <% horsecamp.images.forEach(function(img, i){ %>

                        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete Image</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Horsecamp</button>
                </div>
            </form>
            <a href="/horsecamp/<%= horsecamp._id%>">Back To Horsecamp</a>

        </div>
    </div>